/ejercicios_repaso_H_P_E/ejercicios_repaso_H_P_E_01/build/
/ejercicios_repaso_H_P_E/ejercicios_repaso_H_P_E_01/nbproject/private/
/ejercicios_repaso_H_P_E/ejercicios_repaso_H_P_E_02/build/
/ejercicios_repaso_H_P_E/ejercicios_repaso_H_P_E_02/nbproject/private/
/ejercicios_repaso_H_P_E/ejercicios_repaso_H_P_E_03/nbproject/private/
/ejercicios_repaso_H_P_E/ejercicios_repaso_H_P_E_04/nbproject/private/
